build/
updates/
.vscode
.DS_Store

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
buildServer.json
bin
scripts
ExportOptions.plist


# private md
HEX_PROJECT_CONTEXT.md
private.md